@import "variables.scss";

.portfolio {
  background: $mainColor url("/src/img/background2.webp");
  position: relative;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  > i {
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 3rem;
    cursor: pointer;
    display: none;
  }
  > h2 {
    font-size: 2rem;
    border-bottom: 10px solid white;
  }
  .portfolioContainer {
    display: flex;
    flex-direction: column;
    width: 70%;

    .portfolioGroups {
      display: flex;
      flex-direction: column;
    }

    .projectContent {
      display: flex;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 1rem;
      font-weight: bolder;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      &:hover {
        opacity: 1;
      }
      transition: 1s opacity;
      p {
        font-size: 0.8rem;
      }
    }

    a {
      position: relative;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
          transition: all 1s;
        }
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
