@import "variables.scss";

.skills {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: $mainColor;
  justify-content: space-around;
  align-items: center;
  > i {
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 3rem;
    cursor: pointer;
  }
  div {
    display: flex;
    width: 95%;
    font-size: 3rem;
    margin-bottom: 3rem;
    justify-content: space-around;
    span {
      img {
        height: 3rem;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
