@import "variables.scss";

.contact {
  box-sizing: border-box;
  position: relative;
  margin: 2% auto;
  color: white;
  display: flex;
  padding-top: 50px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 100vh;
  > i {
    position: absolute;
    bottom: 60px;
    right: 2%;
    opacity: 0.5;
    font-size: 2rem;
    cursor: pointer;
  }

  p {
    font-size: 1.4rem;
    width: 70%;
    font-weight: bold;
    text-align: center;
    &:first-child {
      margin-top: 4rem;
    }
  }

  img {
    img {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    font-size: 1.7rem;
    width: 100%;
    margin: 0;
    div {
      padding-top: 20vh;
    }
    img {
      height: 100%;
    }
  }
}
