@import "variables.scss";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  @include childrenCenter;
  height: 100vh;
  background: $mainColor;
  color: white;
  a {
    padding: 0.5;
    text-decoration: none;
    align-self: flex-end;
    border: 3px solid white;
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  h1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    z-index: 2;
    h1 {
      align-items: center;
      a {
        align-self: center;
      }
    }
    .profil {
      order: -1;
    }

    button {
      background: none;
      border-radius: 5px;
      border: 1px solid white;
      color: white;
      margin-top: 2rem;
      font-weight: bold;
      align-self: flex-end;
      padding: 0.5rem 1rem;
      opacity: 0;

      &:hover {
        cursor: pointer;
        i {
          transform: rotate(90deg);
          transition: 1s transform;
        }
      }
    }
  }

  figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    padding-right: 7px;
    margin-left: 20px;
    box-shadow: 10px 10px 5px -9px rgba(0, 0, 0, 0.75);
  }
  .feather {
    position: absolute;
    width: 100px;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 2rem;
    h1 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 3rem;
    h1 {
      font-size: 3rem;
    }
  }
}
