@import "variables.scss";

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  body {
    overflow-x: hidden;
    .app {
      display: flex;
      direction: columns;
    }
  }
}

// media queries

@media screen and (max-width: 500px) {
  body {
    max-width: 500px;
    overflow-x: hidden;
  }
}

// animations

.animFeather {
  animation: 10s glide ease-out forwards;
}

@keyframes glide {
  from {
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transform: rotate(initial);
  }
  to {
    margin-top: 500px;
    margin-left: 200px;
    opacity: 0;
    transform: rotate(180deg);
  }
}
